.form{
    display: flex;
    justify-content: center;
}

.form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form{
    padding: 30px 15px 20px 15px;
    background-color:#ebebeb;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 5vw 0 5vw 0;
    max-width: fit-content;
    padding: 30px 70px;    
}


.login-form input{
    margin-top: 15px;
    width: 60vw;
}

.login-form select{
    margin-top: 15px;
    width: 60vw;
}

.control {
    padding: 8px 8px;
    border: none;
}

#userType.login {
    margin-top:15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #666;
}

.login{
    font-size: 16px;
    padding: 8px 8px;
    border: none;
    width: 80vw;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    outline: none;
}

.button-login{
    background-color: #b68778;
    border: none;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px 0px;
    width: 60vw;
    transition: all 450ms;
    margin-top: 15px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}

#price.login {
margin-bottom: 15px;
}

.button-create{
    background-color: transparent;
    border: none;
    font-size: 15px;
    text-align: center;
    color: #b68778;
    padding: 5px 10px;
    margin: 5px 0px;
    width: 60vw;
    transition: all 450ms;
}

.button-login:hover{
    transform: scale(1.05);
}

.copy-login-form{
    color:#b68778;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
    text-transform: none;
    margin: 0px 10px 30px 0px;
    width: 100%;
}

.label-forms{
    color: #b68778;
    font-weight: 700;
    text-align: left;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.preg-form{
    font-size: 12px;
    color: #755846;
    margin-top: 10px;
}

.preg-form a{
    color: blue;
}

.bloque-radio{
    display: flex;
    position: relative;
}

.radio{
    margin: 0; 
    font-size: 10;
    text-align: left;
    color: #755846;
    font-weight: 500;
    width: fit-content;
    position: absolute;
    left: 35px;
}

.radio-option{
    margin: 0;
    padding: 0;
    width: fit-content;
    position: relative; 
    right: 45%;
    bottom: 8px;
}

.error{
    display: block;
    color: orange;
    padding: 3px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}

.input-form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.password-eye {
    display: flex;
    flex-direction: row;
    gap: 0;
}

#checked {
    font-size: 30px;
    color: #b68778;
    margin-bottom: 2rem;
    background-color: white;
    width: 35px;
    height: 35px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.campoPrecio::-webkit-inner-spin-button,
.campoPrecio::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.campoPrecio { -moz-appearance:textfield; }
    


.ojitos {
    font-size: 14px;
    color: #b68778;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 46%;
    bottom: 37%;
    opacity: 0.6;
}

.errorPresentacion,.errorCategoria, .errorCategory{
    color: orange;
}

.campoPrecioProd::-webkit-inner-spin-button,
.campoPrecioProd::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.campoPrecioProd { -moz-appearance:textfield; }

#ocultar {
    display: none;
}

#ocultar, #mostrar {
    cursor: pointer;
}

.recordar-usuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    gap: 1rem;
    color:#b68778
}

#remUser {
    margin-top: 0;
    width: 1rem;
}


@media (min-width: 769px){
    .copy-login-form{
        max-width: 30vw;
    }

    .login-form input{
        width: 35vw;
    }

    .login-form select{
        width: 35vw;
    }

    .button-login{
        width: 35vw;
        font-size: 15px;
    }

    .button-create{
        width: 35vw;
        font-size: 15px;
    }
}

@media (min-width: 1200px){
    .login-form input{
        width: 25vw;
    }

    .login-form select{
        width: 25vw;
    }

    .button-login{
        width: 25vw;
    }

    .button-create{
        width: 25vw;
    }

    .copy-login-form{
        font-size: 30px;
        line-height: 1.5;
    }

    
}