
#tienda {
    color:#A87F70;
    display: flex;
    flex-direction: column;
    justify-content: CENTER;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left:2rem;
    padding-right:2rem;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.navbar-tienda ul {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    font-size: 15px;
    padding-left: 0rem;
    width: 100vw;
}

.navbar-tienda ul li {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
    padding-bottom: 0.3rem;
    cursor: pointer;
    font-weight:lighter;
}

.navbar-tienda ul li button {
    color:#A87F70;
    text-decoration: none;
    font-weight:400;
    background-color: transparent;
}


.navbar-tienda ul li:hover, .navbar-tienda ul li:focus {
    background-size: 100% 2px;
    color:#A87F70;
}

.navbar-tienda li {
    list-style-type: none;
}

.contenedor-store {
    display: block;
    width: 100vw;
    overflow-x: hidden;
}

.products-store {
    display: flex;
    flex-direction: row;
    width: 400%;
}

.title-tienda {
    display:flex;
    width: 100vw;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
}

.caja-tienda {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem;
    width: 25%;
    overflow-y: hidden;
}

.caja-tienda-cremas {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem;
    width: 25%;
    overflow-y: hidden;
}

.caja-tienda-perfumes {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem;
    width: 25%;
    overflow-y: hidden;
}

.caja-tienda-kits {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem;
    width: 25%;
    overflow-y: hidden;
}

.imagenes {
    width: 25vw;
}

.imagen-perfume100 {
    width:30vw ;
}

.imagen-perfume50 {
    width: 25vw;
}

.caja-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1ECE1;
    width: 70vw;
    height: 70vw;
    padding:2rem;
    padding-bottom: 1rem;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}

.caja-general {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    cursor:pointer;
}

/*cuando se pone el cursor sobre el bloque se incrementa su tamaño*/

.caja-general:hover {
    transform: scale(1.05);
}

/*fin animación*/

a {
    text-decoration: none;
}

.nombre-producto {
    color:#A87F70;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0rem;
}

.precio {
    color:#A87F70;
    font-size: 12px;
    margin-bottom: 0rem;
}

.caja {
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: space-between;
    padding:1rem;
    border: 2px solid #F1ECE1;
    background-color: white;
}

.section-catalogo {
    display:flex ;
    justify-content: center;
}

.caja-catalogo {
    display: flex;
    background-color: #A87F70;
    margin-bottom: 7rem;
    padding: 0.5rem;
    border-bottom-left-radius:5px ;
    border-top-left-radius: 5px;
    border-bottom-right-radius:5px ;
    border-top-right-radius:5px ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 15vw;
    margin-left:15vw ;
    box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
}

.caja-catalogo:hover {
    transform: scale(1.05);
}

.caja-catalogo a {
    text-decoration: none;
    color: white;

}

@media screen and (min-width:769px) {

    #tienda {
        padding-bottom: 2rem;
    }
    
    .title-tienda {
        font-size: 30px;
    }

    .navbar-tienda ul {
        gap: 2rem;
        font-size: 18px;
    }

    .products-store {
        display: flex;
        flex-direction: row;
        width: 400%;
    }
    
    .caja-tienda {
        display: grid;
        grid-template-columns: 40vw 40vw;
        width: 25%;
        justify-content: space-around;
        padding: 0 5vw;
        padding-top: 0vw;
        padding-bottom: 0rem;
    }

    .caja-tienda-cremas {
        display: grid;
        grid-template-columns: 40vw 40vw;
        width: 25%;
        padding: 0 5vw;
        justify-content: center;
        padding-bottom: 0rem;
        gap: 3rem;
    }

    .caja-tienda-perfumes {
        display: grid;
        grid-template-columns: 40vw 40vw;
        width: 25%;
        padding: 0 5vw;
        justify-content: center;
        padding-bottom: 0rem;
        gap: 3rem;
    }

    .caja-tienda-kits {
        display: grid;
        grid-template-columns: 40vw 40vw;
        width: 25%;
        padding: 0 5vw;
        justify-content: center;
        padding-bottom: 0rem;
        gap: 3rem;
    }

    .imagenes {
        width: 17vw;
    }
            
    .imagen-perfume100 {
        width:25vw ;
    }
            
    .imagen-perfume50 {
        width: 19vw;
    }

    .caja-imagen {
        width: 40vw;
        height: 40vw;
    }

    .caja-general {
        margin-bottom: 5vw;
    }

    .nombre-producto{
        font-size: 16px;
    }

    .precio {
        font-size: 14px;
    }

    .caja {
        width: 40vw;
        height: 12vw; 
    }

}

@media screen and (min-width:1279px) {

    #tienda {
        padding-bottom: 1rem;
    }
    
    .title-tienda {
        font-size: 30px;
    }

    .arrow {
        font-size: 33px;
    }
    /* inicio grid dependiendo de categorias tienda */

    .products-store {
        display: flex;
        flex-direction: row;
        width: 400%;
    }

    .caja-tienda {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw;
        width: 25%;
        justify-content: space-around;
        padding-bottom: 0rem;
        padding-top: 1rem;
        
    }

    .caja-tienda-cremas {
        display: grid;
        grid-template-columns: 20vw 20vw;
        width: 25%;
        padding: 0 5vw;
        justify-content: center;
        padding-bottom: 0rem;
        gap: 3rem;
        padding-top: 1rem;
    }

    .caja-tienda-perfumes {
        display: grid;
        grid-template-columns: 20vw 20vw;
        width: 25%;
        padding: 0 5vw;
        justify-content: center;
        padding-bottom: 0rem;
        gap: 3rem;
        padding-top: 1rem;
    }

    .caja-tienda-kits {
        display: grid;
        grid-template-columns: 20vw 20vw;
        width: 25%;
        padding: 0 5vw;
        justify-content: center;
        padding-bottom: 0rem;
        gap: 3rem;
        padding-top: 1rem;
    }

    /* fin grid dependiendo de categorias tienda */

    .caja-imagen {
        width: 20vw;
        height: 20vw;
    }

    .caja {
        width: 20vw; 
        height: 8vw;
    }

    .imagenes {
        width: 8vw;
    }
    
    .imagen-perfume100 {
        width:12vw ;
    }
    
    .imagen-perfume50 {
        width: 9vw;
    }

}