<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle del producto </title>
</head>
<body>
    <header>
        <h3 class="encabezado">¿Primera Compra? Recibe el <b>ENVIO GRATIS</b> <i class="fa-solid fa-truck-fast"></i> por compras en la plataforma con el cupón: <b>BIENVENIDO</b> <i class="fa-solid fa-heart"></i></h3>        
        <nav class="barra-inicio-mobile">

            <section class="menu-block">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
           
            <div class="logo-block-mobile">
                <img class="logo" src="/images/logo-grasse-blanco.png" alt="">
            </div>

            <section class="carrito">
                <i class="fa-solid fa-circle"></i>
                <a href=""><i class="fa-solid fa-bag-shopping"></i></a>  
            </section>
        </nav>

        <nav class="barra-inicio">

            <form class="busqueda"> 
                <label for="barra-busqueda"></label>
                <input class="barra-busqueda" type="text" placeholder="">
            </form>

            <ul class="site">

                <li><a href="/">HOME </a></li> 
                <li><a href="">TIENDA</a></li> 
                <li><a href="">TESTIMONIOS</a></li>  

                <div class="logo-block">
                <li><img class="logo" src="/images/logo-grasse-blanco.png" alt=""></li>
                </div>

                <li><a href="">BLOG</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">PQRS</a></li>

            </ul>

        
            <ul class="login-navbar">

                <li ><a href="" class="section-navbar"><i class="fa-regular fa-heart"></i> <p class="circulo">0</p></a></li>
                <li ><a href="" class="section-navbar"><i class="fa-solid fa-bag-shopping"></i> <p class="circulo">0</p></i></a></li> 
                <li ><a href=""><i class="fa-regular fa-user"></i></a></li> 
            </ul>

        </nav>  
        </section>
    </header>
    <main>
        <section class="detail-main-block">
            <section class="detail-section1">
                <article class="prod-detail"></article>
                <article class="prod-detail"></article>
                <article class="prod-detail"></article>
            </section>
            <section class="detail-section2">
                <article class="main-prod-detail">

                </article>
            </section>
            <section class="detail-section3">
                <div class="desc-block">
                    <article class="desc-block-section"></article>
                    <article class="desc-block-section"></article>
                    <article class="desc-block-section"></article>
                    <article class="desc-block-section"></article>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <article class="block-footer">
            <div class="left-block"></div>
            <img class="flor" src="/images/isotipo-recortado.png" alt="">
            <div class="right-block"></div>
        </article>
    </footer>
</body>
</html>