<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle del producto - Crema 280g</title>
    <link rel="icon" href="images/iso-pag.ico">
    
</head>
<body>
    <header>
        <nav class="barra-inicio-mobile">

            <section class="menu-block">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
           
            <div class="logo-block-mobile">
                <img class="logo" src="/images/logo-grasse-blanco.png" alt="">
            </div>

            <section class="carrito">
                <i class="fa-solid fa-circle"></i>
                <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>  
            </section>
        </nav>

        <nav class="barra-inicio">

            <form class="busqueda"> 
                <label for="barra-busqueda"></label>
                <input class="barra-busqueda" type="text" placeholder="">
            </form>

            <ul class="site">

                <li><a href="/">HOME </a></li> 
                <li><a href="#Tienda">TIENDA</a></li> 
                <li><a href="">TESTIMONIOS</a></li>  

                <div class="logo-block">
                <li><img class="logo" src="/images/logo-grasse-blanco.png" alt=""></li>
                </div>

                <li><a href="">BLOG</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">PQRS</a></li>

            </ul>

        
            <ul class="login-navbar">

                <li><a href="" class="section-navbar"><i class="fa-regular fa-heart"></i> <p class="circulo">0</p></a></li>
                <li><a href="/carrito" class="section-navbar"><i class="fa-solid fa-bag-shopping"></i> <p class="circulo">0</p></a></li> 
                <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="/register"><i class="fa-solid fa-address-card"></i></a></li> 
            </ul>

        </nav>  
    </header>
    <main>
        <section class="detail-main-block">
            <section class="detail-section1">
                <article class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </article>
                <article class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </article>
                <article class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </article>
            </section>
            <section class="detail-section2">
                <article class="main-prod-detail">
                    <img src="/images/Crema-280gr.png" alt="">
                </article>
            </section>
            <section class="detail-section">
                <div class="desc-block"> 
                <form action="/Detalle" method="POST" class="detail-form">
                    <article class="desc-block-section1">
                        <h2 class="detail-title">Crema Hidratante y Nutritiva Grasse 280g</h2>
                        <p>COP$39.999</p>
                    </article>
                    <article class="desc-block-section2">
                        <div class="marca"><label for="marca">Marca: </label><input type="text" id="marca" name="detail" class="detail-input"></div>
                        <div><label for="ref">Referencia: </label><input type="text" id="ref" name="detail" class="detail-input"></div>
                    </article>
                    <article class="desc-block-sectionB">
                       <a href="/carrito"><button type="button" class="detail-button">Agregar al carrito</button></a> 
                    </article>
                    <article class="desc-block-section">
                        <p class="copy-form"> Cuida tu piel y deja que los demas lo sientan </p>
                        <p> Hecho en colombia </p>
                    </article>
                </form>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <article class="distribuidor">
                
            <section class="info-distribuidor">

                <h4>¿Quieres ser distribuidor (a) Grasse?</h4>
                <p class="p-distribuidor">
                    En Grasse estamos buscando los mejores aliados para establecer una red fuerte de representación de ventas a nivel nacional e internacional y queremos conocerte.
                </p>

                <p class="p-distribuidor">
                    Estamos comprometidos con entregar más y mejores experiencias de bienestar y cuidado a nuestros clientes, y sabemos que podemos cumplir mejor esta misión de la mano de ustedes!
                </p>

                <p class="p-distribuidor">
                    Dejanos tus datos, nuestro equipo revisará y se pondra en contacto contigo.
                </p>

            </section>

        </article>

        <article class="formulario">
            <form action="/" method="post">
                <p>
                    <label for="nombre">¿Como te llamas?*</label>
                    <input class="b" type="text" name="nombre" id="nombre" required>
                </p>

                <p>
                    <label for="numero">Numero de contacto*</label>
                    <input class="b" type="tel" name="numero" id="numero" required>
                </p>

                <div class="enviar-block">
                    <button class="enviar" type="submit">Enviar</button>
                </div>

            </form>

        </article>
        <article class="block-footer">
            <div class="left-block">
            </div>
            <img class="flor" src="/images/isotipo-recortado.png" alt="">
            <div class="right-block"></div>
        </article>
    </footer>
</body>
</html>