<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home Grasse</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#tienda">Tienda</a></li>
            <li><img src="/images/Logo_GrasseBlanco.png" alt="Logo Grasse"></li>
            <li><a href=""></a>Contacto</li>
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="" rel="Log In"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="" rel="Register"><i class="fa-solid fa-right-to-bracket"></i></a></li>
        </ul>
    </header>
    <main>
        <section class="banner">
            <img src="/images/banner-manos.png" alt="bannerManos">
            <article class="copy-banner">
                <h2>Conectate con tu magia tropical</h2>
                <p>(descubre como, con nuestros exoticos productos)</p>
                <a href="#tienda">Ver Tienda</a>
            </article>
            <article class="copy-separador">
                Reafirmamos tu identidad a traves de nuestros productos con fragancias de perfumeria comercial. 
            </article>
        </section>
        <section class="desc-perfumes">
            <p> Perfumes de alta duracion</p>
            <li>mas de 200 referencias</li>
            <a href="#tienda">ver tienda</a>
            <img src="" alt="perfumes">
        </section>
        <section class="welcome">
            <h2>¡Bienvenido!</h2>
            <img src="/images/crueltyFree.png" alt="crueltyFree">
        </section>
        <section class="tienda" id="tienda">
            <nav class="navbarTienda">
                <ul>
                    <li>Perfumes</li>
                </ul>
            </nav>
            <article class="producto">
                <img src="" alt="perfumeChico">
                <div class="caja-descripcion">
                    <p> Perfumes Grasse 85ml</p>
                    <p> $20.000</p>
                </div>
            </article>
            <article class="producto">
                <img src="" alt="perfumeGrande">
                <div class="caja-descripcion">
                    <p> Perfumes Grasse 280ml</p>
                    <p> $40.000</p>
                </div>
            </article>
            <article class="photos">
                <img src="" alt="img1">
                <img src="" alt="img2">
            </article>
            <article class="copy-separador">
                Reafirmamos tu identidad a traves de nuestros productos con fragancias de perfumeria comercial.
            </article>
        </section>
    </main>
    <footer>
        <section class="footer-main-section">
            <article class="footer-section">
                <h3></h3>
                <p></p>
            </article>
            <article class="footer-section">
                <h3></h3>
                <p></p>
            </article>
            <article class="footer-section">
                <h3></h3>
                <p></p>
            </article>
        </section>
    </footer>    
</body>
</html>