<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Grasse - Fragancia en crema</title>
    <link rel="icon" href="images/iso-pag.ico">

</head>
    <body>

        <header>

            <h3 class="encabezado">¿Primera Compra? Recibe el <b>ENVIO GRATIS</b> <i class="fa-solid fa-truck-fast"></i> por compras en la plataforma con el cupón: <b>BIENVENIDO</b> <i class="fa-solid fa-heart"></i></h3>
            
            <nav class="barra-inicio-mobile">

                <section class="menu-block">
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                </section>
               
                <div class="logo-block-mobile">
                    <img class="logo" src="/images/logo-grasse-blanco.png" alt="">
                </div>

                <section class="carrito">
                    <i class="fa-solid fa-circle"></i>
                    <a href=""><i class="fa-solid fa-bag-shopping"></i></a>  
                </section>
            </nav>

            <nav class="barra-inicio">

                <form class="busqueda"> 
                    <label for="barra-busqueda"></label>
                    <input class="barra-busqueda" type="text" placeholder="">
                </form>

                <ul class="site">

                    <li><a href="/">HOME </a></li> 
                    <li><a href="#Tienda">TIENDA</a></li> 
                    <li><a href="">TESTIMONIOS</a></li>  

                    <div class="logo-block">
                    <li><img class="logo" src="/images/logo-grasse-blanco.png" alt=""></li>
                    </div>

                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACTO</a></li>
                    <li><a href="">PQRS</a></li>

                </ul>

            
                <ul class="login-navbar">

                    <li><a href="" class="section-navbar"><i class="fa-regular fa-heart"></i> <p class="circulo">0</p></a></li>
                    <li><a href="/Carrito" class="section-navbar"><i class="fa-solid fa-bag-shopping"></i> <p class="circulo">0</p></a></li> 
                    <li><a href=""><i class="fa-regular fa-user"></i></a></li> 
                </ul>

            </nav>  
            
            <section class="contenedor">
                <img class="banner" src="/images/banner-texto2.png" alt="">
                <div class="bloque-texto">
                    <p class="animation">
                        REAFIRMAMOS TÚ IDENTIDAD A TRAVÉS DE NUESTROS PRODUCTOS CON FRAGANCIAS DE PERFUMERÍA COMERCIAL  -  MÁS DE 300 REFERENCIAS DISPONIBLES.
                    </p>

                
                </div>
            </section>
        </header>

        <main>

            <article class="pre-menu">
                
                <section class="cremas">
                    
                    <div class="texto">

                        <h3>Cremas Hidratantes y Nutritivas con Fragancia de Perfume</h3>
                        
                        <p>*Más de 200 referencias.</p>

                        <a href="#Tienda">VER TIENDA</a>

                    </div>

                    <div class="imagenes">
                        <a href="#Tienda">
                            <img class="productos"src="/images/conjunto-cremas.png" alt="">
                        </a>
                    </div>

                </section>

                <section class="perfumes">

                    <div class="texto">

                        <h3>Perfumes de Alta Duración</h3>
                        
                        <p>*Más de 200 referencias.</p>

                        <a href="#Tienda">VER TIENDA</a>

                    </div>

                    <div class="imagenes">
                        <a href="#Tienda">
                            <img class="productos"src="/images/conjunto-perfumes.png" alt="">
                        </a>
                    </div>

                </section>
            </article>

            
            
            <article class="middle-menu">
               <h2>Conoce como nuestras cremas Grasse ayudan a tu piel</h2>
                <section class="beneficios">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </section>
            </article>

            <section id=Tienda>
                <div class="arrow"></div>
                <h3 class="title-tienda">TIENDA</h3>
                <div class="bloque-vacio"></div>
            </section>

            <article class="caja-tienda">
            
                <a href="/Detalle">
                    <section class="caja-general">
                        
                        <div class="caja-imagen"><img class="imagenes" src="/images/Crema-280gr.png" alt=""></div>
                        <div class="caja">
                            <p class="nombre-producto">Crema Hidratante y Nutritiva Grasse 280g</p>
                            <p class="precio">COP$39.999</p>
                        </div>
                    </section>
                </a>

                <a href="/Detalle">
                    <section class="caja-general">
                        <div class="caja-imagen"><img class="imagenes" src="/images/Crema-85g.png" alt=""></div>
                        <div class="caja">
                            <p class="nombre-producto">Crema Hidratante y Nutritiva Grasse 85g</p>
                            <p class="precio">COP$19.999</p>
                        </div>
                    </section>
                </a>

                <a href="/Detalle">
                    <section class="caja-general">
                        <div class="caja-imagen"><img class="imagen-perfume100" src="/images/Perfume.png" alt=""></div>
                        <div class="caja">
                            <p class="nombre-producto">Perfume Grasse 100ml</p>
                            <p class="precio">COP$59.999</p>
                        </div>
                    </section>
                </a>

                <a href="/Detalle">
                    <section class="caja-general">
                        <div class="caja-imagen"><img class="imagen-perfume50" src="/images/Perfume-50ml.png" alt=""></div>
                        <div class="caja">
                            <p class="nombre-producto">Perfume Grasse 50ml</p>
                            <p class="precio">COP$39.999</p>
                        </div>
                    </section>
                </a>

            </article>





            <article class="testimonio">
                <section>
                   
                    <div class="barra-testimonio">
                       <a href="">TESTIMONIOS</a> 
                    </div>

                    <div class="imagenes-testimonios">
                        <img class="turquia" src="/images/turquia-sara.png" alt="">
                        <img class="egipto" src="/images/egipto-valentina.png" alt="">
                    </div>

                    <div class="bloque-texto">

                        <p class="animation">
                            REAFIRMAMOS TÚ IDENTIDAD A TRAVÉS DE NUESTROS PRODUCTOS CON FRAGANCIAS DE PERFUMERÍA COMERCIAL  -  MÁS DE 300 REFERENCIAS DISPONIBLES.
                        </p>

                    </div>
                </section>
            </article>

        </main>

        <footer>

            <article class="distribuidor">
                
                <section class="info-distribuidor">

                    <h4>¿Quieres ser distribuidor (a) Grasse?</h4>
                    <p class="p-distribuidor">
                        En Grasse estamos buscando los mejores aliados para establecer una red fuerte de representación de ventas a nivel nacional e internacional y queremos conocerte.
                    </p>

                    <p class="p-distribuidor">
                        Estamos comprometidos con entregar más y mejores experiencias de bienestar y cuidado a nuestros clientes, y sabemos que podemos cumplir mejor esta misión de la mano de ustedes!
                    </p>

                    <p class="p-distribuidor">
                        Dejanos tus datos, nuestro equipo revisará y se pondra en contacto contigo.
                    </p>

                </section>

            </article>

            <article class="formulario">
                <form action="/" method="post">
                    <p>
                        <label for="nombre">¿Como te llamas?*</label>
                        <input class="b" type="text" name="nombre" id="nombre" required>
                    </p>

                    <p>
                        <label for="numero">Numero de contacto*</label>
                        <input class="b" type="tel" name="numero" id="numero" required>
                    </p>

                    <div class="enviar-block">
                        <button class="enviar" type="submit">Enviar</button>
                    </div>

                </form>

            </article>

            <article class="block-footer">
                <div class="left-block"></div>
                <img class="flor" src="/images/isotipo-recortado.png" alt="">
                <div class="right-block"></div>
            </article>
            
            <a href="https://api.whatsapp.com/send/?phone=573054810006&text&type=phone_number&app_absent=0" target="_blank"><img class="wpp" src="/images/logo-whatsapp.png" alt=""></a>


        </footer>
    </body>
</html>
