.section-blog {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    min-width: auto;
    justify-content: center;
    padding: 5rem 2rem;
    gap: 3rem;
}

.bloque-blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 2px 3px rgba(0 0 0 / 0.30);
}

.img-blog img{
    width: 100%;
}

.img-blog {
    display: flex;
    flex-direction: row;
}
.title-p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 15rem;
}

.title-p h5 {
    font-size: 20px;
    color: #A87F70;
    font-weight: 600;
}

.title-p p {
    font-size: 16px;
    color: grey;
}

.ver-link {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.ver-link a{
    font-size: 18px;
    color: orange;
    font-weight: 900;
}