

.caja-title {
    display: flex;
    flex-direction: column;
    padding: 2rem; 
    padding-bottom: 0rem;
    background-color: #F1ECE1;
    width: 80vw;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem;
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem;
}

.caja-caja-title {
    display: none;
}

.title {
 font-size: 20px;
 color:#A87F70;
 font-weight: 600;
 margin-bottom: 0.5rem;
 border-bottom: #A87F70 2px solid;
 padding-bottom: 1rem;
}

.text-title {
    color:#A87F70;
    
}

.img-carrito {
    width: 120px;
}

.izq {
    display:flex;
    flex-direction: row;
    width: 25%;
    justify-content: center;
}

.list {
    display: flex;
    background-color: #A87F70;
    align-items: center;
    width: 9rem;
    color:white;
    padding: 0.2rem 0.5rem;
    gap:1rem;
}

.list select {
    background-color: #A87F70;
    color: white;
}

#cant:focus {
    outline: none;
}

.cen {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cen1 {
    display: flex;
    flex-direction: column;
    color:#A87F70;
    gap:0.2rem;
    margin-top: 2rem;
}

.dispo {
    color:orange;
}

.cen2 {
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    width: 25%;
}

.e {
    color: #A87F70;
}

.der {
    display: none;
}

.caja-middle-car {
    display: flex;
    flex-direction: column;
    border-bottom: #A87F70 2px solid;
    padding: 1rem 0rem;
    align-items: center;
}

.car-bottom {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-bottom:2rem;
    color:#A87F70;
    font-weight: 600;
}

.contenido-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
    gap:3rem
}

.caja-pago {
    display: flex;
    flex-direction: column;
    background-color: #F1ECE1;
    padding: 2rem;
    margin: 0vh 4vw;
    gap: 3rem;
    justify-content: center;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem;
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem;
    width: 80vw;
    
}

.caja-pago-superior {
    display: flex;
    justify-content: flex-start;
    color: #A87F70;
    gap: 2rem;
}

.caja-pago-inferior {
    color: #A87F70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.pago-block {
    display: flex;
    padding:0.5rem 1rem;
    background-color: orange;
    border-top-left-radius:5px ;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
}

.pago {
    color:white;
    background-color: orange;
}










@media screen and (min-width:768px) {
    .caja-title {
        display: flex;
        flex-direction: column;
        padding: 2rem; 
        padding-bottom: 0rem;
        background-color: #F1ECE1;
        width: 60vw;
        border-top-left-radius:2rem ;
        border-top-right-radius:2rem;
        border-bottom-left-radius:2rem;
        border-bottom-right-radius:2rem;
    }
    
    .caja-caja-title {
        display: flex;
        justify-content: space-between;
        border-bottom: #A87F70 2px solid;
    }
    
    .title {
        font-size: 20px;
        color:#A87F70;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-bottom: none;
        padding-bottom: 0rem;
    }
    
    .text-title {
        color:#A87F70;
        
    }
    
    .img-carrito {
        width: 80px;
    }
    
    .izq {
        display:flex;
        flex-direction: row;
        width: 25%;
        justify-content: center;
    }
    
    .list {
        display: flex;
        background-color: #A87F70;
        align-items: center;
        width: 9rem;
        color:white;
        padding: 0.2rem 0.5rem;
        gap:1rem;
    }
    
    .list select {
        background-color: #A87F70;
        color: white;
    }
    
    
    
    .cen {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 50%;
    }
    
    .cen1 {
        display: flex;
        flex-direction: column;
        align-items: left;
        color:#A87F70;
        gap:0.2rem;
    }
    
    .dispo {
        color:orange;
    }
    
    .cen2 {
        display: flex;
        flex-direction: column;
        gap:2.5rem;
        width: 25%;
    }
    
    .e {
        color: #A87F70;
    }
    
    .der {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color:#A87F70;
        font-weight: 600;
    }
    
    .caja-middle-car {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: #A87F70 2px solid;
        padding: 1rem 0rem;
    }
    
    .car-bottom {
        display: flex;
        justify-content: flex-end;
        padding-top: 1rem;
        padding-bottom:2rem;
        color:#A87F70;
        font-weight: 600;
    }
    
    .contenido-carrito {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5vw;
        margin-top: 5vw;
        gap:1rem
    }
    
    .caja-pago {
        display: flex;
        flex-direction: column;
        background-color: #F1ECE1;
        padding: 10vh 2rem;
        width: 25vw;
        gap: 2rem;
        justify-content: center;
        border-top-left-radius:2rem ;
        border-top-right-radius:2rem;
        border-bottom-left-radius:2rem;
        border-bottom-right-radius:2rem;
        margin:0vw;
    }
    
    .caja-pago-superior {
        display: flex;
        justify-content: flex-start;
        color: #A87F70;
        gap: 1rem;
    }
    
    .caja-pago-inferior {
        color: #A87F70;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }
    
    .pago-block {
        display: flex;
        padding:0.5rem 1rem;
        background-color: orange;
        border-top-left-radius:5px ;
        border-top-right-radius:5px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
    }
    
    .pago {
        color:white;
        background-color: orange;
    }
}
