.detail-main-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.detail-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.detail-section2{
    order: -1;
}

.prod-detail{
    display: block;
    border-radius: 12px;
    background-color: #F3EBE2;
    padding: 9px 40px; 
    margin: 5px 5px; 
}

.prod{
    width: 9vw;
}

.main-prod-detail{
    display: block;
    border-radius: 12px;
    background-color: #F3EBE2;
    padding: 30px 120px;
    margin-bottom: 5px;
}

.main-prod-detail img{
    width: 100%;
}

.detail-form{
    padding: 20px 15px;
    background-color:#F3EBE2;
    display: block;
    width: 95vw;
    height: auto;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #A77E70;
}

.desc-block-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px 0;
    border-top: solid #DCC5BB 2px;
}

.desc-block-section2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 5px 0;
        border-top: solid #DCC5BB 2px;
}

.desc-block-section2 input{
    padding: 5px 0;
}

.desc-block-section2 div{
    margin: 15px 0;
}

.desc-block-sectionB{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-top: solid #DCC5BB 2px;
}

.detail-form h2{
    font-size: 18px;
    text-align: left;
    color: #755846;
}

.detail-form p{
    font-size: 15px;
}

.detail-form label{
    font-size: 16px;
    font-weight: 800;
    color: #755846;
}

.detail-form button{
    font-size: 15px;
    background-color: #A77E70;
    color: #F3EBE2;
    padding: 5px 15px;
    align-self: center;
    margin-top: 10px;
}

.marca{
    margin-top: 10px;
    padding-top: 5px;
}

.copy-form{
    margin-bottom: 10vh;
    margin-top: 30px;
}

@media (min-width: 769px){
    .main-prod-detail img{
        width: 20vw;
    }

    .detail-section2{
        order: initial;

    }

    .detail-main-block{
        flex-direction: row;
    }

    .detail-section1{
        flex-direction: column;
        margin: 0 5px;
    }
    .detail-form{
        width: fit-content;
        max-height: 60vw;
        min-height: 48vw;
        margin: 10px;
    }

    .main-prod-detail{
        padding: 25px 120px;
    }

    .prod{
        width: 6vw;
    }
}

@media (min-width: 1200px){
    .prod-detail{
        padding: 9px 45px;
        margin: 20px 0;
    }

    .prod{
        max-width: 4vw;
    }

    .main-prod-detail{
        padding: 50px 150px;
    }

    .main-prod-detail img{
        max-width: 13vw;
    }
    
    .detail-form{
        width: 25vw;
        min-height: 35vw;
        max-height: 50vw;
        margin: 50px 0;
    }

    .detail-form p{
        font-size: 18px;
    }
}