detail-main-block{
    display: flex;
    flex-direction: row;

}
detail-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

prod-detail{
    display: block;
    margin:auto
}

.prod{
    width: 9vh;
    padding: 9px;
}