.contenedor-faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 4rem;
}

.banner-faqs {
    width: 100vw;
}

.acordeon-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
}
.acordeon {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.content-box {
    position: relative;
    width: 90vw;
    
}

.label {
    position: relative;
    padding: 0.7rem 1rem;
    background-color: white;
    cursor: pointer;
    color:#A87F70;
    font-weight: 600;
    border: #A87F70 solid 1px;
    font-size: 16px;
    display: flex;
}

.label::before {
    position: absolute;
    top:50%;
    right:1rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.acordeon .content-box.active .label::before {
    position: absolute;
    top:48%;
    right:1.2rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.content {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    padding: 1rem 2rem;
    display: none;
    transition: 0.5s;
    border: #A87F70 solid 1px;
    border-top: 0;
    color: #A87F70;
    font-size: 14px;
}

.content ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.acordeon .content-box.active .content {
    display: block;
    padding: 1rem 2rem;
}


@media screen and (min-width:769px) { 

}

@media screen and (min-width:1280px) { 
    .acordeon-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0rem;
    }
    .acordeon {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    
    .content-box {
        position: relative;
        width: 60vw;
        
    }
    
    .label {
        position: relative;
        padding: 0.7rem 2rem;
        background-color: white;
        cursor: pointer;
        color:#A87F70;
        font-weight: 600;
        border: #A87F70 solid 1px;
        font-size: 18px;
    }
    
    .label::before {
        content: "+";
        position: absolute;
        top:50%;
        right:2rem;
        transform: translateY(-50%);
        font-size: 1.5rem;
    }
    
    .acordeon .content-box.active .label::before {
        content: "-";
        position: absolute;
        top:48%;
        right:2.2rem;
        transform: translateY(-50%);
        font-size: 1.5rem;
    }
    
    .content {
        position: relative;
        background-color: transparent;
        overflow: hidden;
        padding: 1rem 2rem;
        display: none;
        transition: 0.5s;
        border: #A87F70 solid 1px;
        border-top: 0;
        color: #A87F70;
        font-size: 18px;
    }
    
    .acordeon .content-box.active .content {
        display: block;
        padding: 1rem 2rem;
    }
}