.contenedor-faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 4rem;
}

.banner-faqs {
    width: 100vw;
}


.preguntas-frecuentes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.bloque-pregunta {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    border:#A87F70 2px solid;
    margin: 0.5rem 10rem;
    gap: 3rem;
    width: 70vw;
    background-color: white;
}

.pregunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: flex;
    justify-content: right;
    color: #A87F70;
    font-size: 20px;
    width: 10%;
}


.text-pregunta {
    color: #A87F70;
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
}

.text-info {
    display: none;
}

.text-info p {
    color: #A87F70;
}

.bloque-pregunta:hover .text-info{
    display: flex;
    margin:1rem 0rem;
}


