header {
    width:100vw;
 }

.circulo{
    color: #A87F70;
    display: block;
    font-size: 15px;
    padding: 0 5px;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    text-align: center;
}

.section-navbar{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.section-navbar i{
    margin-top:1px;
}

.encabezado{
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    display: block;
    background-color: white;
    padding: 0.3rem;
    color:#666;
}

.encabezado i {
    color:#A87F70
} 

.site, .login-navbar, .barra-busqueda {
    display:none;
}

.barra-inicio-mobile {
    display:flex;
    background-color: #A87F70;
    justify-content: space-between;
    background-color:#A87F70;
    padding: 1.5rem 1rem;
    position: fixed !important;
    top: 0 !important;
    z-index: 1500;
    width: 100%;
}

.logo{
    width: 7rem;
    margin: 0rem 1rem; 
}

.logo-block-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

.carrito{
    color:white;
    width: 33vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:0.2rem;
}

.carrito i {
    color: white;
    align-items: center;
    display: flex;
}

.menu-block {
    display: flex;
    color:white;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 33vw;
    font-size: 24px;
}

.banner {
    width: 100vw;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

.bloque-texto {
    height: 1.2rem;
    padding: 0.2rem 0rem; 
    background-color: #A87F70;
    overflow-x: hidden;
    overflow-y: hidden;

}

.animation {
    font-size: 10px;
    color:white;
    text-align: center;
    /*movimiento*/
    animation-duration: 60s;
    animation-name: slidein;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

/*movimiento*/
@keyframes slidein {

    from {
        margin-left: 105%;
        width: 100vw;
    }

    to {
        margin-left: -200%;
        width: 100vw;
    }
}


@media screen and (min-width:361px) {

    .logo{
        width: 9rem;
        margin: 0rem 2rem; 
    }

    .bloque-texto {
        display: block;
        height: 1.7rem;
        padding: 0.3rem 1rem; 
        background-color: #A87F70;
    }

    .animation {
        font-size: 12px;
    }

    .encabezado{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        display: block;
        background-color: white;
        padding: 0.3rem;
        color:#666;
    }

}

@media screen and (min-width:1279px) {

    .barra-inicio-mobile {
        display: none;
    }

    .encabezado{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        display: block;
        background-color: white;
        padding: 0.3rem;
        color:#666;
    }

    .barra-inicio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color:#A87F70;
        padding: 1.5rem 3rem;
        text-decoration: none;
        gap: 3rem;
        width: 100vw;
        position: fixed !important;
        top: 0 !important;
        z-index: 1500;
    }

    .site {
        display: flex;
        flex-direction: row;
        align-items:center;
        list-style: none;
        font-size: 14px;
        justify-content: space-around;
        width: 100vw;
    }

    .logo{
        width: 9rem;
        margin: 0rem 2rem; 
    }

    .logo-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
    }

    .login-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        color: white;
        justify-content: flex-end;
        width: 20%;
    }

    .busqueda {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 10%;
    }

    .barra-busqueda {
        display: flex;
        height: 1.5rem;
        width: 10rem;
        padding: 0rem 0.5rem;
        border-bottom-left-radius:5px ;
        border-top-left-radius:5px ;
        border-bottom-right-radius:5px ;
        border-top-right-radius:5px ;
        box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
    }

    .barra-busqueda::placeholder {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        text-align: end;
    }

    .barra-busqueda:focus {
        outline: none;
    }

    ul li a {
        text-decoration: none;
        list-style: none;
        color: white;
        font-weight: 600;
        margin: 0rem 0.5rem;
    }

    .banner {
        width: 100vw;
    }

    .animation {
        font-size: 14px;
    }

    .bloque-texto {
        display: block;
        height: 1.7rem;
        padding: 0.3rem 1rem; 
        background-color: #A87F70;
    }
 

   
}
