@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(forms.css);
@import url(normalize.css);
@import url(store.css);
@import url(cart.css);
@import url(detail.css);
@import url(not-found.css);
@import url(testimonios.css);
@import url(faqs.css);


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
    width: 100vw;
    background-image: url(/images/Fondo.png);
    overflow-x: hidden;
}

