<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito - Grasse</title>
    <link rel="icon" href="/images/iso-pag.ico">

</head>
    <body>

        <header>

            <h3 class="encabezado">¿Primera Compra? Recibe el <b>ENVIO GRATIS</b> <i class="fa-solid fa-truck-fast"></i> por compras en la plataforma con el cupón: <b>BIENVENIDO</b> <i class="fa-solid fa-heart"></i></h3>
            
            <nav class="barra-inicio-mobile">

                <section class="menu-block">
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                </section>
               
                <div class="logo-block-mobile">
                    <img class="logo" src="/images/logo-grasse-blanco.png" alt="">
                </div>

                <section class="carrito">
                    <i class="fa-solid fa-circle"></i>
                    <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>  
                </section>
            </nav>

            <nav class="barra-inicio">

                <form class="busqueda"> 
                    <label for="barra-busqueda"></label>
                    <input class="barra-busqueda" type="text" placeholder="">
                </form>

                <ul class="site">

                    <li><a href="/">HOME </a></li> 
                    <li><a href="/#Tienda">TIENDA</a></li> 
                    <li><a href="">TESTIMONIOS</a></li>  

                    <div class="logo-block">
                    <li><img class="logo" src="/images/logo-grasse-blanco.png" alt=""></li>
                    </div>

                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACTO</a></li>
                    <li><a href="">PQRS</a></li>

                </ul>

            
                <ul class="login-navbar">

                    <li><a href="" class="section-navbar"><i class="fa-regular fa-heart"></i> <p class="circulo">0</p></a></li>
                    <li><a href="/carrito" class="section-navbar"><i class="fa-solid fa-bag-shopping"></i> <p class="circulo">0</p></a></li> 
                    <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                    <li><a href="/register"><i class="fa-solid fa-address-card"></i></a></li> 
                </ul>

            </nav>  
            
           

                
                
            
        </header>


        <main>
            <article class="contenido-carrito">
                <section class="caja-title">

                    <p class="title">Carrito</p>
                    <div class="caja-caja-title">
                        <p class="text-title">Anular Selección de todos los elementos</p>
                        <p class="text-title">Precio</p>
                    </div>

                    <div class="caja-middle-car">
                        
                        <div class="izq">
                            <img class="img-carrito" src="/images/Crema-280gr.png" alt="">
                        </div>

                        <div class="cen">
                            <div class="cen1">
                                <p>Crema Hidratante y Nutritiva Grasse 280g</p>
                                <p class="dispo">Disponible</p>
                            </div>

                            <div class="cen2">
                                <p class="e">Fragancia</p>
                                
                                <div class="list">
                                    <p>Cantidad</p>
                                    <select name="cant" id="cant">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                        <option value="">6</option>
                                        <option value="">7</option>
                                        <option value="">8</option>
                                        <option value="">9</option>
                                        <option value="">10+</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="der">
                            <p>COP$39.999</p>
                        </div>
                        
                    </div>

                    <div class="car-bottom">
                        <p>Subtotal (1 producto): COP$39.999</p>
                    </div>

                </section>

                <section class="caja-pago">
                    
                    <div class="caja-pago-superior">
                        <i class="fa-solid fa-circle-info"></i>
                        <p> <b>Envío GRATIS</b> por compras superiores a COP$40.000</p>
                    </div>

                    <div class="caja-pago-inferior">
                        
                        <p>Subtotal (1 producto): <b>COP$39.999</b></p>
                        <div class="pago-block"><button class="pago" type="submit">Proceder al pago</button></div>
                        
                    </div>

                </section>


            </article>




           
        </main>

        <footer>

            <article class="distribuidor">
                
                <section class="info-distribuidor">

                    <h4>¿Quieres ser distribuidor (a) Grasse?</h4>
                    <p class="p-distribuidor">
                        En Grasse estamos buscando los mejores aliados para establecer una red fuerte de representación de ventas a nivel nacional e internacional y queremos conocerte.
                    </p>

                    <p class="p-distribuidor">
                        Estamos comprometidos con entregar más y mejores experiencias de bienestar y cuidado a nuestros clientes, y sabemos que podemos cumplir mejor esta misión de la mano de ustedes!
                    </p>

                    <p class="p-distribuidor">
                        Dejanos tus datos, nuestro equipo revisará y se pondra en contacto contigo.
                    </p>

                </section>

            </article>

            <article class="formulario">
                <form action="/" method="post">
                    <p>
                        <label for="nombre">¿Como te llamas?*</label>
                        <input class="b" type="text" name="nombre" id="nombre" required>
                    </p>

                    <p>
                        <label for="numero">Numero de contacto*</label>
                        <input class="b" type="tel" name="numero" id="numero" required>
                    </p>

                    <div class="enviar-block">
                        <button class="enviar" type="submit">Enviar</button>
                    </div>

                </form>

            </article>

            <article class="block-footer">
                <div class="left-block"></div>
                <img class="flor" src="/images/isotipo-recortado.png" alt="">
                <div class="right-block"></div>
            </article>
            
            <a class=wpp href="https://api.whatsapp.com/send/?phone=573054810006&text&type=phone_number&app_absent=0" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>


        </footer>
    </body>
</html>
