<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Detalle del producto - Crema 280g</title>    
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <section class="detail-main-block">
            <section class="detail-section1">
                <article class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </article>
                <article class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </article>
                <article class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </article>
            </section>
            <section class="detail-section2">
                <article class="main-prod-detail">
                    <img src="/images/Crema-280gr.png" alt="">
                </article>
            </section>
            <section class="detail-section">
                <div class="desc-block"> 
                <form action="/Detalle" method="POST" class="detail-form">
                    <article class="desc-block-section1">
                        <h2 class="detail-title">Crema Hidratante y Nutritiva Grasse 280g</h2>
                        <p>COP$39.999</p>
                    </article>
                    <article class="desc-block-section2">
                        <div class="marca"><label for="marca">Marca: </label><input type="text" id="marca" name="detail" class="detail-input"></div>
                        <div><label for="ref">Referencia: </label><input type="text" id="ref" name="detail" class="detail-input"></div>
                    </article>
                    <article class="desc-block-sectionB">
                       <a href="/carrito"><button type="button" class="detail-button">Agregar al carrito</button></a> 
                    </article>
                    <article class="desc-block-section">
                        <p class="copy-form"> Cuida tu piel y deja que los demas lo sientan </p>
                        <p> Hecho en colombia </p>
                    </article>
                </form>
                </div>
            </section>
        </section>
    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>