<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Detalle del producto - Crema 280g</title>    
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main class="detail-main-block">
            <div class="detail-section1">
                <picture class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </picture>
                <picture class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </picture>
                <picture class="prod-detail">
                    <img class="prod" src="/images/Crema-280gr.png" alt="">
                </picture>
            </div>
            <div class="detail-section2">
                <picture class="main-prod-detail">
                    <img src="/images/Crema-280gr.png" alt="">
                </picture>
            </div>
            <div class="desc-block">
                <form action="/Detalle" method="POST" class="detail-form">
                    <article class="desc-block-section1">
                        <h2 class="detail-title">Crema Hidratante y Nutritiva Grasse 280g</h2>
                        <p>COP$39.999</p>
                    </article>
                    <div class="desc-block-section2">
                        <div class="marca">
                            <label for="marca">Marca: </label>
                            <input type="text" id="marca" name="detail" class="detail-input">
                        </div>
                        <div>
                            <label for="ref">Referencia: </label>
                            <input type="text" id="ref" name="detail" class="detail-input">
                        </div>
                    </div>
                        <button type="submit" class="detail-button">Agregar al carrito</button>
                
                        <p class="copy-form"> Cuida tu piel y deja que los demas lo sientan </p>
                        <p> Hecho en colombia </p>

                </form>
            </div>
    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>