<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Detalle del producto - Crema 280g</title>    
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        
        <article class="detail-box">
            <section class="caja-img-producto">
                <img class="img-producto" src="/images/Crema-280gr.png" alt="">
            </section>

            <section class="info-producto">
                <div class="bloque-info-1">
                    <p class="title-product">Crema Hidratante y Nutritiva 280g</p>
                    <p class="precio-producto">COP$39.999</p>
                </div>
                <div class="bloque-info-2">

                    <div class="selector-marca">
                        <label class="marca" for="marca">Marca:</label>
                        <select name="" id="marca">
                        </select>

                    </div>

                    <div class="selector-referencia">
                        <label class="referencia" for="referencia">Referencia:</label>
                        <select name="" id="referencia">
                        </select>
                    </div>
                </div>
                <section class="cart-block">
                    <div class="go-cart">
                        <a href=""><p>Agregar al carrito</p></a>
                    </div>
                </section>    
                <div class="low-info">
                    <p>Cuida tu piel y deja que los demás lo sientan</p>
                    <p>Hecho en Colombia</p>
                </div>
            </section>
        </article>   

    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>