<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Edicion de Productos - Grasse</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <section class="form">
            <form action="/create" method="post"class='login-form'>
                <h2 class="copy-login-form">Edicion de Producto</h2>

                <label for="name" class="label-forms">Nombre del producto</label>
                <input type="text" name="name" id="name" value="Valor anterior" class="login">

                <label for="description" class="label-forms">Descripción</label>
                <input type="text" name="description" id="description" value="Valor anterior" class="login">

                <label for="image" class="label-forms">Imagen</label>
                <input type="file" name="image" id="image" class="login">
                

                <legend for="category" class="label-forms">Categoría</legend>
                <div class="bloque-crema-form">
                    <label for="category-crema" class="radio">Crema</label>
                    <input type="radio" name="category" id="category-crema" value="crema" class="radio-option">
                </div>
                <div class="bloque-perfume-form"> 
                    <label for="category-perfume" class="radio">Perfume</label>
                    <input type="radio" name="category" id="category-perfume" value="perfume" class="radio-option">
                </div>


                <label for="fragrancies" class="label-forms">Fragancias</label>
                <input type="text" name="fragrancies" id="fragrancies" value="Valor anterior" class="login">

                <label for="price" class="label-forms">Precio</label>
                <input type="text" name="price" id="price" value="Valor anterior" class="login">

                <button type="submit" class="button-login">Enviar</button>
            </form>
        </section>
    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>