<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Preguntas Frecuentes</title>    
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        
        <section class="contenedor-faqs">
            <img class="banner-faqs" src="/images/banner-faqs.png" alt="">
            <div class="bloque-texto">
                <p class="animation">
                        ¿TIENES PREGUNTAS? ... NO TE PREOCUPES, AQUÍ ENCONTRARÁS TODAS LAS RESPUESTAS.
                </p>
            </div>
        </section>

        
        <section class="preguntas-frecuentes">
          
            <div class="bloque-pregunta">
                <div class="pregunta">
                    <p class="text-pregunta">¿QUÉ INGREDIENTES TIENEN LAS CREMAS?</p>
                    <div class="arrow"><i class="fa-solid fa-arrows-up-down"></i></div>
                </div>
                <div class="text-info">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique doloremque voluptatibus a asperiores facilis placeat ullam id quae ea laudantium, ex quos fuga dolore accusamus excepturi illum! Repudiandae, quae?</p>
                </div>
            </div>
            
            <div class="bloque-pregunta">
                <div class="pregunta">
                    <p class="text-pregunta">¿CUÁLES SON LOS BENEFICIOS PARA LA PIEL?</p>
                    <div class="arrow"><i class="fa-solid fa-arrows-up-down"></i></div>
                </div>
                <div class="text-info">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique doloremque voluptatibus a asperiores facilis placeat ullam id quae ea laudantium, ex quos fuga dolore accusamus excepturi illum! Repudiandae, quae?</p>
                </div>
            </div>

            <div class="bloque-pregunta">
                <div class="pregunta">
                    <p class="text-pregunta">¿CUÁNTO PERDURA LA FRAGANCIA DE LA CREMA?</p>
                    <div class="arrow"><i class="fa-solid fa-arrows-up-down"></i></div>
                </div>
                <div class="text-info">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique doloremque voluptatibus a asperiores facilis placeat ullam id quae ea laudantium, ex quos fuga dolore accusamus excepturi illum! Repudiandae, quae?</p>
                </div>
            </div>

            <div class="bloque-pregunta">
                <div class="pregunta">
                    <p class="text-pregunta">¿CUÁNTO TARDA EL ENVÍO?</p>
                    <div class="arrow"><i class="fa-solid fa-arrows-up-down"></i></div>
                </div>
                <div class="text-info">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique doloremque voluptatibus a asperiores facilis placeat ullam id quae ea laudantium, ex quos fuga dolore accusamus excepturi illum! Repudiandae, quae?</p>
                </div>
            </div>



        </section>

        
            
            
        
        

    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>