<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>Pagina no encontrada</title>
</head>
    <body>
        <header></header>
        
        <main>
            <section>
                <div class="contenedor-img-404"><img  class="img-404" src="/images/Error-404.png" alt=""></div>
                <div class="caja-404">
                    <p class="p-404">La página que intentas solicitar no se encuentra en el servidor (Error 404)</p>
                    <div class="back-bottom"><a class="a-404" href="/">Ir al Home</a></div>
                </div>
            </section>
        </main>
        <footer>
            
        </footer>
    </body>