<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>Registro de usuario - Grasse</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %> 
    <main>
        <section class="form">
            <form action="/register" method="POST" class="login-form">
                <h2 class="copy-login-form"> Crear Cuenta </h2>
                <div>
                   <input type="text" name="nombreCompleto" id="nombreCompleto" class="login" placeholder="Nombre y Apellido" required>
                </div>
                <div>
                    <input type="text" name="tel-email" id="tel-email" class="login" placeholder="Numero de telefono movil o correo electronico" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" class="login" placeholder="Ingresa una contraseña" required minlength="6">                
                </div>
                <div>
                    <input type="passwordv" name="passwordv" id="passwordv" class="login" placeholder="Vuelve a escribir la contraseña" required minlength="6">
                </div>
                <button type="submit" class="button-login">Enviar</button>
                <div>
                    <p class="preg-form">¿Ya tienes una cuenta? <a href="/login">iniciar sesion</a></p>
                </div>
           </form>
        </section>
    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>