<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Testimonios - Grasse</title>    
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>

    
        <section class="contenedor-testimonios">
            <img class="banner-testimonios" src="/images/testimonios.img.png" alt="">
            <div class="bloque-texto">
                <p class="animation">
                        ALGUNAS HISTORIAS REALES QUE DEMUESTRAN LO QUE SOMOS
                </p>
            </div>
        </section>

        <article class="caja-total-testimonios">    
            <section class="testimonio-st">
                <div class="foto-nombre"><img class="foto-test" src="/images/monica-turquia-testimonio.jpeg" alt=""><p>Mónica Flórez (Medellín)</p></div>
                <div class="text-testimonio">
                    <p>"Lorem fistrum dolor te va a hasé pupitaa al ataquerl de la pradera quis magna hasta luego Lucas esse sed labore. Eiusmod quietooor ut incididunt reprehenderit hasta luego Lucas officia magna se calle ustée. Va usté muy cargadoo qui a gramenawer fistro. A wan ad irure está la cosa muy malar ahorarr ese que llega".</p>
                    <p>Crema Hidratante y Nutritiva 280g - Aqua Di Gioia</p>
                </div>
            </section>
            <section class="testimonio-st">
                <div class="foto-nombre"><img class="foto-test" src="/images/turquia-sara.png" alt=""><p>Sara Porras (Medellín)</p></div>
                <div class="text-testimonio">
                    <p>"Lorem fistrum dolor te va a hasé pupitaa al ataquerl de la pradera quis magna hasta luego Lucas esse sed labore. Eiusmod quietooor ut incididunt reprehenderit hasta luego Lucas officia magna se calle ustée. Va usté muy cargadoo qui a gramenawer fistro. A wan ad irure está la cosa muy malar ahorarr ese que llega".</p>
                    <p>Crema Hidratante y Nutritiva 280g - Funny</p>
                </div>
            </section>
            <section class="testimonio-st">
                <div class="foto-nombre"><img class="foto-test" src="/images/img-9.jpeg" alt=""><p>Valetina Tamayo (Medellín)</p></div>
                <div class="text-testimonio">
                    <p>"Lorem fistrum dolor te va a hasé pupitaa al ataquerl de la pradera quis magna hasta luego Lucas esse sed labore. Eiusmod quietooor ut incididunt reprehenderit hasta luego Lucas officia magna se calle ustée. Va usté muy cargadoo qui a gramenawer fistro. A wan ad irure está la cosa muy malar ahorarr ese que llega".</p>
                    <p>Crema Hidratante y Nutritiva 280g - Cloud</p>
                </div>
            </section>
        </article>
    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>