<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Blog - Grasse</title>    
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <section class="section-blog">
            
            <div class="bloque-blog">
                <div class="img-blog">
                    <img src="/images/manosCrema.jpg" alt="">
                </div>
                <div class="text-blog">
                    <div class="title-p">
                        <h5>Tips para que tu perfume dure más tiempo</h5>
                        <p>Sigue los 'tips' de nuestros expertos sobre cómo aplicar tus fragancias y saca más partido a tus aromas favoritos</p>
                    </div>
                    <div class="ver-link">
                        <a href=""><p>SEGUIR LEYENDO >></p></a>
                    </div>
                </div>    
            </div>
            <div class="bloque-blog">
                <div class="img-blog">
                    <img src="/images/hidratacion.jpg" alt="">
                </div>
                <div class="text-blog">
                    <div class="title-p">
                        <h5>El ingrediente secreto para una piel sana</h5>
                        <p>Cuando se trata del cuidado de la piel, la mayoría de las personas no se restringen en precios con el fin de mantenerla sana y radiante</p>
                    </div>
                    <div class="ver-link">
                        <a href=""><p>SEGUIR LEYENDO >></p></a>
                    </div>
                </div>    
            </div>
            <div class="bloque-blog">
                <div class="img-blog">
                    <img src="/images/hidratacionPiel.jpg" alt="">
                </div>
                <div class="text-blog">
                    <div class="title-p">
                        <h5>Los 9 enemigos que tiene tu piel</h5>
                        <p>¡Este artículo les va a encantar! Eso sí, hay que tenerlo como regla de oro para tener una piel saludable de pies a cabeza y permanentemente. ¡No nos extendamos tanto y vamos al grano esta vez!</p>
                    </div>
                    <div class="ver-link">
                        <a href=""><p>SEGUIR LEYENDO >></p></a>
                    </div>
                </div>    
            </div>


        </section>
    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>