<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Preguntas Frecuentes</title>    
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        
        <section class="contenedor-faqs">
            <img class="banner-faqs" src="/images/banner-faqs.png" alt="">
            <div class="bloque-texto">
                <p class="animation">
                        ¿TIENES PREGUNTAS? ... NO TE PREOCUPES, AQUÍ ENCONTRARÁS TODAS LAS RESPUESTAS.
                </p>
            </div>
        </section>
        <section class="acordeon-section">   
            <div class="acordeon">
                <div class="content-box">
                    <div class="label">¿Qué ingredientes tienen las cremas?</div>
                    <div class="content">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ullam sunt consequuntur porro, mollitia deserunt distinctio aliquid natus officia hic nam, exercitationem quia dolor aperiam inventore at sequi repudiandae voluptas.</p>
                    </div>
                </div>
                <div class="content-box">
                    <div class="label">¿Cuáles son los beneficios para la piel?</div>
                    <div class="content">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ullam sunt consequuntur porro, mollitia deserunt distinctio aliquid natus officia hic nam, exercitationem quia dolor aperiam inventore at sequi repudiandae voluptas.</p>
                    </div>
                </div>
                <div class="content-box">
                    <div class="label">¿Cuánto tiempo perdura la fragancia de la crema?</div>
                    <div class="content">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ullam sunt consequuntur porro, mollitia deserunt distinctio aliquid natus officia hic nam, exercitationem quia dolor aperiam inventore at sequi repudiandae voluptas.</p>
                    </div>
                </div>
                <div class="content-box">
                    <div class="label">¿Cuánto tiempo perdura la fragancia del perfume?</div>
                    <div class="content">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ullam sunt consequuntur porro, mollitia deserunt distinctio aliquid natus officia hic nam, exercitationem quia dolor aperiam inventore at sequi repudiandae voluptas.</p>
                    </div>
                </div>
                <div class="content-box">
                    <div class="label">¿Cuánto tarda el envío?</div>
                    <div class="content">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ullam sunt consequuntur porro, mollitia deserunt distinctio aliquid natus officia hic nam, exercitationem quia dolor aperiam inventore at sequi repudiandae voluptas.</p>
                    </div>
                </div>
            </div>
        </section> 
        <script>
            const acordeon = document.getElementsByClassName("content-box");

            for (i = 0; i < acordeon.length; i++) {
                acordeon[i].addEventListener("click", function() {
                    this.classList.toggle("active")
                })
            }
        </script>

    </main>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>