<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Perfil de usuario - Grasse</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %> 
    <main>
        
    </main>
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>