<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Perfil de usuario - Grasse</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %> 
    <main>

        UN MAIN
        <ul>
            <img src="/users/img-1661169059766-275893016.jpeg" alt="Foto de perfil">
            <h6 class="datos">Nombre</h6>
            <h6 class="datos">Apellido</h6>
            <h6 class="datos">Correo electronico</h6>
            <h6 class="datos">Numero de telefono</h6>
        </ul>   
    </main>
    <%- include ('../partials/footer.ejs') %> 
</body>
</html>