<footer>

    <article class="distribuidor">
        
        <section class="info-distribuidor">

            <h4>¿Quieres ser distribuidor (a) Grasse?</h4>
            <p class="p-distribuidor">
                En Grasse estamos buscando los mejores aliados para establecer una red fuerte de representación de ventas a nivel nacional e internacional y queremos conocerte.
            </p>

            <p class="p-distribuidor">
                Estamos comprometidos con entregar más y mejores experiencias de bienestar y cuidado a nuestros clientes, y sabemos que podemos cumplir mejor esta misión de la mano de ustedes!
            </p>

            <p class="p-distribuidor">
                Dejanos tus datos, nuestro equipo revisará y se pondra en contacto contigo.
            </p>

        </section>

    </article>

    <article class="formulario">
        <form action="/" method="post">
            <p>
                <label for="nombre">¿Como te llamas?*</label>
                <input class="b" type="text" name="nombre" id="nombre" required>
            </p>

            <p>
                <label for="numero">Numero de contacto*</label>
                <input class="b" type="tel" name="numero" id="numero" required>
            </p>

            <div class="enviar-block">
                <button class="enviar" type="submit">Enviar</button>
            </div>

        </form>

    </article>

    <article class="block-footer">
        <div class="left-block"></div>
        <img class="flor" src="/images/isotipo-recortado.png" alt="">
        <div class="right-block"></div>
    </article>
    
    <a class="wpp" href="https://api.whatsapp.com/send/?phone=573054810006&text&type=phone_number&app_absent=0" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
</footer>