<header>

    <h3 class="encabezado">¿Primera Compra? Recibe el <b>ENVIO GRATIS</b> <i class="fa-solid fa-truck-fast"></i> por compras en la plataforma con el cupón: <b>BIENVENIDO</b> <i class="fa-solid fa-heart"></i></h3>
    
    <nav class="barra-inicio-mobile">

        <section class="menu-block">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
       
        <div class="logo-block-mobile">
            <img class="logo" src="/images/logo-grasse-blanco.png" alt="">
        </div>

        <section class="carrito">
            <i class="fa-solid fa-circle"></i>
            <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>  
        </section>
    </nav>

    <nav class="barra-inicio">

        <form class="busqueda"> 
            <label for="barra-busqueda"></label>
            <input class="barra-busqueda" type="text" placeholder="">
        </form>

        <ul class="site">

            <li><a href="/">HOME </a></li> 
            <li><a href="/#Tienda">TIENDA</a></li> 
            <li><a href="">TESTIMONIOS</a></li>  

            <div class="logo-block">
            <li><img class="logo" src="/images/logo-grasse-blanco.png" alt=""></li>
            </div>

            <li><a href="">BLOG</a></li>
            <li><a href="">CONTACTO</a></li>
            <li><a href="">PQRS</a></li>

        </ul>

    
        <ul class="login-navbar">

            <li><a href="" class="section-navbar"><i class="fa-regular fa-heart"></i> <p class="circulo">0</p></a></li>
            <li><a href="/carrito" class="section-navbar"><i class="fa-solid fa-bag-shopping"></i> <p class="circulo">0</p></a></li> 
            <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
            <li><a href="/register"><i class="fa-solid fa-address-card"></i></a></li> 
        </ul>

    </nav>  
    
    <section class="contenedor">
        <div class="bloque-texto">
            <p class="animation">
                REAFIRMAMOS TÚ IDENTIDAD A TRAVÉS DE NUESTROS PRODUCTOS CON FRAGANCIAS DE PERFUMERÍA COMERCIAL  -  MÁS DE 300 REFERENCIAS DISPONIBLES.
            </p>

        
        </div>
    </section>
</header>