<header>

    <h3 class="encabezado">¿Primera Compra? Recibe el <b>ENVIO GRATIS</b> <i class="fa-solid fa-truck-fast"></i> por compras en la plataforma con el cupón: <b>BIENVENIDO</b> <i class="fa-solid fa-heart"></i></h3>
    
    <nav class="barra-inicio-mobile">

        <section class="menu-block">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
       
        <div class="logo-block-mobile">
            <a href="/"><img class="logo" src="/images/logo-grasse-blanco.png" alt=""></a>
        </div>

        <section class="carrito">
            <p class="circulo">0</p><a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>   
        </section> 
    </nav>

    <nav class="barra-inicio">

        <form class="busqueda" action="/" method="GET"> 
            <label for="barra-busqueda"></label>
            <input class="barra-busqueda" type="text" placeholder="">
        </form> 

        <ul class="site">

            <li><a href="/">HOME </a></li> 
            <li><a href="/#Tienda">TIENDA</a></li> 
            <li><a href="/Testimonios">TESTIMONIOS</a></li>  

            <div class="logo-block">
            <li><img class="logo" src="/images/logo-grasse-blanco.png" alt=""></li>
            </div>

            <li><a href="">BLOG</a></li>
            <li><a href="">CONTACTO</a></li>
            <li><a href="/Preguntas-frecuentes">FAQ´S</a></li>

        </ul>

    
        <div class="login-navbar">
            <% if (locals.isLogged) { %>
                <li class="user">
                    <i class="fa-solid fa-circle-user"></i>
                    <p class="p-user"><%= locals.userLogged.name %> </p>
                    <ul class="ul-user">
                        <li><a href="/Perfil">Perfil</a></li>
                        <li><a href="/Cerrar-sesion">Salir</a></li>
                    </ul>
                </li>
                <li><a href="" class="section-navbar"><i class="fa-regular fa-heart"></i> <p class="circulo">0</p></a></li>
                <li><a href="/Carrito" class="section-navbar"><i class="fa-solid fa-bag-shopping"></i> <p class="circulo">0</p></a></li>
            <% } else { %>
                <li><a href="/Carrito" class="section-navbar"><i class="fa-solid fa-bag-shopping"></i> <p class="circulo">0</p></a></li> 
                <li><a href="/Ingreso"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="/Registro"><i class="fa-solid fa-address-card"></i></a></li>
                <li class="desplegable"><i class="fa-solid fa-circle-plus"></i>
                    <ul class="ul-add">
                        <li><a href="/Crear-Producto">Crear Producto</a></li>
                        <li><a href="/">Crear Testimonio</a></li>
                        
                    </ul>
                </li>
            <% } %> 
        </div>

    </nav>  
</header>