<div class="bloque-blog">
    <div class="img-blog">
        <img src="<%= element.img %>" alt="">
    </div>
    <div class="text-blog">
        <div class="title-p">
            <h5><%= element.title %></h5>
            <p><%= element.intro %></p>
        </div>
        <div class="ver-link">
            <a href=""><p>SEGUIR LEYENDO >></p></a>
        </div>
    </div>    
</div>