
    <a href="/home/detail/<%= element.id %>">
        <section class="caja-general">
            
            <div class="caja-imagen"><img class="imagenes" src= '<%= element.img %>' alt=""></div>
            <div class="caja">
                <p class="nombre-producto"><%= element.name %> </p>
                <p class="precio"><%= element.price %></p>
            </div>
        </section>
    </a>
